# Este arquivo .gitignore deve ser colocado na raiz do diretório do seu projeto Unity
#
# Obtenha a versão mais recente em https://github.com/github/gitignore/blob/master/Unity.gitignore
#
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Mm]emoryCaptures/

# Os metadados de ativos só devem ser ignorados quando o ativo correspondente também for ignorado
!/[Aa]ssets/**/*.meta

# Descomente esta linha se desejar ignorar o plugin de ferramentas da Asset Store
# /[Aa]ssets/AssetStoreTools*

# Plugin JetBrains Rider gerado automaticamente
[Aa]ssets/Plugins/Editor/JetBrains*

# Diretório de cache do Visual Studio
.vs/

# Diretório de cache do Gradle
.gradle/

# Arquivos de solução e projeto VS/MD/Consulo gerados automaticamente
ExportedObj/
.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Arquivos meta gerados pelo Unity3D
*.pidb.meta
*.pdb.meta
*.mdb.meta

# Arquivo gerado pelo Unity3D em relatórios de falhas
sysinfo.txt

# Builds
*.apk
*.unitypackage

# Arquivo gerado pelo Crashlytics
crashlytics-build.properties

# Arquivo fictício (não incluído em commits)
.fake

# Ignorar a pasta UserSettings
UserSettings/
